altgraph==0.17.3
contourpy==1.0.7
cycler==0.11.0
fonttools==4.38.0
importlib-metadata==6.0.0
importlib-resources==5.10.2
kiwisolver==1.4.4
llvmlite==0.39.1
matplotlib==3.7.0
modbus-tk==1.1.2
numpy==1.23.0
packaging==23.0
pandas==1.4.3
pefile==2023.2.7
Pillow==9.4.0
pkg-about==1.0.8
protobuf==4.21.12
pyinstaller==5.7.0
pyinstaller-hooks-contrib==2022.7
pyparsing==3.0.9
PyQt5==5.15.7
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
PyQt5Designer==5.14.1
pyserial==3.5
python-dateutil==2.8.2
pytz==2022.1
PyVISA==1.14.0
pywin32-ctypes==0.2.0
six==1.16.0
tomli==2.0.1
typing_extensions==4.3.0
zipp==3.13.0
